#arc_content
  == content
#disqus_thread
script type='text/javascript' src='/js/jquery-1.10.2.min.js'
script type='text/javascript' src='/js/jquery.color-2.1.2.min.js'
script type='text/javascript' src='/js/highlight.pack.js'
script type='text/javascript' src='/js/slimdown.js'
